{%extends 'base.html' %}

{%block head%}
<title>To Do Flask</title>
{%endblock %}

{%block body%}
<div class="content">
    <h2>To Do</h2>
    
    <table>
        <tr>
            <th>Tasks</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="">Delete</a>
                <br>
                <a href="">Update</a>
            </td>
        </tr>
    </table>
    
    <form action="/" method="POST">
    <input type="text" name="content" id="content" placeholder="Insira o texto">
    <input type="submit" value="Add">
    </form>
</div>
{%endblock %}